<div class='container' style="border: 1px solid red" >
    
    <div class = "col-md-8" style="border: 1px solid red" >
        <!--<%# @words.each do |word| %>
        <li>
            <strong><%#= link_to(word.name, word_path(word)) %></strong>
        </li>
    <%# end %>-->
        <h2><%#= link_to @words.first.name, word_path(@words.first) %> </h2>
        <h4> • <%#= @definitions.first.content %> </h4>

    </div>
   <!-- <div class = "col-md-4" style="border: 1px solid red" >
        <%# @words.each do |f| %>
        <h3>• <%#= f.name %>  </h3>
        <%#end %>
    </div>-->
    
</div>


