<div class="container-fluid" style="background-color: #E1E1E3">
    <div class ="browse-word">
        <div class="word-name" style="text-align:center">Browse through the world of Rails</div>
            <br>
            <br>
            <div style="columns:3; justify-content: center; flex-direction: column; text-align: center">    
            <% @words.each do |w| %>
                <p>
                <div style="color: black; font-size: 20px; display: inline-block"> •&nbsp; </div>
                <%= link_to w.name, word_path(w), options= {class: "word-link"} %>
                </p>
            <% end %>
        </div>
    </div>
</div>