/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .add-word {
     width:250px;
     float: right;
     margin: 20px 0;
     padding: 15px 25px;   
 }

.word-link {
    color:#333; 
    font-size: 22px; 
    font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 700;
    
}

.ur-button {
    color: black; 
    background-color: #dee2e8; 
    display: inline-block; 
    border-radius: 5px
}

.container-fluid {
    padding: 0 15%;
}

.container-signup {
    margin: 20px 0 0 0;
    padding: 40px 15%;
    height: 520px;
    
}
.ur-rails-header {
    font-family: 'Montserrat', sans-serif; 
    font-weight: bold; 
    font-size: 40px; 
    color: white; 
    letter-spacing: 2px;
    padding: 0 0 10px 0;
    display: inline-block;
    position: relative;
    top: 6px

}

.search-bar {
    font-size: 20px; 
    width: 260px; 
    height: 50px; 
    margin: 0 10px 20px 30px;
    padding: 10px
    
}

.first-ten {
    color: #1D2439; 
    font-family: 'Lora', Georgia, Cambria, 'Times New Roman', Times, serif;
    font-weight: 700
}

.show-word {
    background-color: white; 
    margin: 20px 0 0 0; 
    padding: 25px 35px 10px 35px;
    display: inline-block;
}

.browse-word {
    background-color: white; 
    margin: 20px 0; 
    padding: 25px 35px 10px 35px;
    display: inline-block;
    width: 900px;
    height: 495px;
    
}

.word-name {
    font-family: "Lora", Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 700;
    font-size: 32px;
}
.word-content {
    font-size: 16px;
    font-family:"Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    line-height: 25px
}

.author-content {
    font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
    font-size: 16px;;
    font-weight: 700;
    padding: 10px 0
}

.container-form {
    display: inline-block
}

.inside-signup {
    background-color: white; 
    margin: -10px 0 0 0; 
    padding: 15px 35px 20px 35px;
    display: inline-block;

}
.signup-page {
    padding: 20px 15%;
    margin: -10px 0 0 0;
    background-color: white

}

.login-page {
    padding: 40px 15%;
    margin: -10px 0 0 0;
    background-color: white;
    height: 400px
}

.edit-page {
    padding: 20px 15%;
    margin: -10px 0 0 0;
    background-color: white;
    height: 450px
}

body > div:nth-child(1) a {
    color: white
}

body > div:nth-child(2) > div.show-word > div > a{
   color: #333; 
}

@media only screen and (min-width: 320px)  { 
    .show-word {
        width: 400px;
        display: block;
    }
    
    #definition_content {
        width: 300px;
    }

}
@media only screen and (min-width: 800px)  { 
    .show-word {
        width: 600px;
        display: inline-block;
    }
    #definition_content {
        width: 500px;
    }

}
@media only screen and (min-width: 980px)  { 
    .show-word {
        width: 400px;
        display: inline-block;
    }
    #definition_content {
        width: 300px;
        
    }
}
@media only screen and (min-width: 1100px) { 
    .show-word {
        width: 550px;
        display: inline-block;
    }
    
    #definition_content {
        width: 450px;
    }
}

@media only screen and (min-width: 1220px) { 
    .show-word {
        width: 600px;
        display: inline-block;
    }
    #definition_content {
        width: 500px;
        height: 150px
        
    }
}